.table-container{
    width: 100%;
    border: solid 1px rgba(217, 217, 217, 1);
    height: 100%;
    border-radius: 8px;
}
.mi-clase-tabla {
    width: 100%; 
    color: black; 
    border-radius: 8px;
}

.mi-clase-thead {
    text-align: center;
    border-bottom: 1px solid black;
}

.mi-clase-th{
    padding: 10px;
}

.mi-clase-td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(205, 205, 205, 1);
}

.mi-clase-tr:hover {
    background-color: rgb(240, 240, 240);
}