.modal-overlaySubCategoria {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contentSubCategoria {
    background: #e0f7fa; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 90%;
    position: relative;
    text-align: center; 
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.modal-contentSubCategoria h2 {
    margin-top: 0;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    margin-bottom: 20px; 
}

.modal-contentSubCategoria label {
    display: block;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.modal-contentSubCategoria input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-contentSubCategoria button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 1em;
}

.confirm {
    background-color: black;
    color: white;
}

.cancel {
    background-color: red;
    color: white;
}
