.modal-overlayCrearAlergeno {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(54, 54, 54, 0.3);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contentCrearAlergeno {
    background: rgba(212, 224, 242, 1); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 500px;
    position: relative;
    text-align: center; 
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.confirm {
    background-color: black;
    color: white;
    margin-top: 10px; 
}

.cancel {
    background-color: red;
    color: white;
    margin-top: 10px; 
}

.inputAlergeno {
    width: 80%; 
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-contentCrearAlergeno button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; 
}
