/* Modal principal */
.modal-crear-empresa {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(54, 54, 54, 0.3);
    backdrop-filter: blur(2px);
    z-index: 1000; 
}

/* Tarjeta dentro del modal */
.card-crear-empresa {
    text-align: center;
    z-index: 1000;
    box-shadow: 0px 0px 10px black;
    background-color: rgba(212, 224, 242, 1);
    width: 70%;
    max-width: 550px;
    padding: 10px;
    border-radius: 8px;
}

/* Título de la tarjeta */
.card-title-crear-empresa {
    font-size: 2rem;
}

/* Cuerpo de la tarjeta */
.card-body-crear-empresa {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Contenedor principal */
.mb-3-main-crear-empresa {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
}

/* Grupo de entrada */
.input-group-crear-empresa {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botones */
.buttons-crear-empresa {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

/* Contenido de la tarjeta */
.card-content-crear-empresa {
    border: solid 1px rgb(189, 189, 189);
    border-radius: 8px;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Campos del formulario */
.form-control-crear-empresa {
    text-align: center;
    max-width: 400px;
}

/* Contenedor de la cuadrícula */
.grid-container-crear-empresa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    border-radius: 5px;
}

/* Contenedor de botones e imagen */
.img-buttons-crear-empresa {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

/* Contenedor principal de la sucursal */
.container-sucursal-crear-empresa {
    border: solid 1px grey;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
