.modals-ed{
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(54, 54, 54, 0.3);
    backdrop-filter: blur(2px);
    z-index: 1000; 
}

.card-sucursal-ed{
    text-align: center;
    box-shadow: 0px 0px 10px black;
    background-color: rgba(212, 224, 242, 1);
    height: 19.6rem;
    width: 70%;
    max-width: 650px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

.card-body-ed{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;

}
.container-sucursal-ed{
    border: solid 1px rgb(189, 189, 189);
    border-radius: 8px;
    padding: 10px;
    height: 60%;
}

.grid-container-ed {
display: grid;
grid-template-columns: repeat(3, 1fr); 
grid-template-rows: repeat(3, auto); 
gap: 20px;

}
