.tarjetaEmpresa {
    background-color: #fff;
    width: 90%;
    gap: 5%;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.tarjetaEmpresa:hover {
    background-color: #ccc;
}
.tarjetaEmpresa p {
    margin: 0;
    flex-grow: 1;
}
.tarjetaEmpresa button {
    background: none;
    width: 20%;
    border: none;
    cursor: pointer;
}