.listaEmpresas {
    width: 10%;
    height: 85%;
    background-color: rgb(56, 56, 56);
    margin: 1%;
    border-radius: 0.4rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.7%;
    align-items: center;
}

.listaEmpresas h3 {
    color: white;
    text-decoration: underline;
}

.listaEmpresas button {
    background-color: rgb(135, 176, 241);
    width: 80%;
    height: 4%;
    border-radius: 0.4rem;
    box-shadow: 5px 2px 10px 1px rgb(75, 75, 75);
    top: 22%;
    left: 9%;
}  
